#localVideoElement {
    margin: 0px auto;
    width: 100%;
    background-color: #666;
}
#remoteVideoElement {
    margin: 0px auto;
    width: 100%;
    background-color: #666;
}

.mirror{
  -moz-transform: scale(-1, 1);
  -webkit-transform: scale(-1, 1);
  -o-transform: scale(-1, 1);
  transform: scale(-1, 1);
  filter: FlipH;
}