<div class="jumbotron">
  <h1>WebiRTC for Chrome</h1>
  <p class="lead">
    <img src="images/yeoman.png" alt="I'm Yeoman"><br>
    Welcome to WebRTC communication proof of concept for TOPIC...
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#/webrtc">Give a try ! <span class="glyphicon glyphicon-ok"></span></a></p>
</div>

<div class="row marketing">
  <h4>Requirement</h4>
  <p>
    This code is currently designed to work with Chrome browser only.<br>
    Mozilla Firefox and Opera compatibility should be ready soon.<br>
    What about Internet Explorer and Safari, WebRTC functionalities are simply not currently supported.<br><br>

    In case you do not get any video from your webcam, it is likely to be due to a resolution incompatibility between camera and web browser.
  </p>

  <h4>How to use</h4>
  <p>
    Open two pages with this same url http://webrtc.webinage.net/webrtc (each on a different machine, or even both on the same one).<br>
    One of those will play the part of the caller, and the other one the part of the callee.<br>
    On each page, click on the green "Give a try !" button or on "WebRTC" on the top-right of the page to access the page designed for WebRTC.<br>
    Chose the same room name for both caller and callee page (room space is limited to a unique caller-callee couple).
    On one of the two pages you have chosen as the caller page, click on the "Start" green button and grant your web browser access to your webcam.<br>
    Then click on "Call" button on its right to initiate the call.<br>
    A popup should now appear on callee page, which indicates you are being called by a peer and gives you instructions to allow the communication.<br>
    Follow the instruction by allowing the callee browser on callee page to access the callee webcam.<br>
    You are done, you should now see on both peer two videos, on on the left of yourself and one on the right of your peer !<br>
    It is also possible to send text messages with the text boxes on the bottom of your local video to your peer.<br>
    To conclude, you can also put an end to the call by clicking on "Hung Up" button on caller or callee page.
  </p>

  <h4>Credit</h4>
  <p>Guilhem Châteauvieux</p>
</div>
