<div class="row">
  <div class="col-lg-1"></div>
  <div class="col-lg-4">
  	<p>
  		<div id="room"></div>
  	</p>
 	<p>
 		Local WebCam
 	</p>
	<div class="col-lg-12">
		<video autoplay="true" id="localVideoElement"></video>
		<p>
	</div>
	<div class="col-lg-12">
		<textarea class="form-control" id="dataChannelSend" disabled placeholder="Press Call, enter some text, then press Send."></textarea>
		<button class="btn btn-default" id="sendButton">Send</button>
	</div>
	<div class="col-lg-12" id="buttons" style="margin-top:12px;">
		<button class="btn btn-success" id="getVideoButton">Start</button>
	    <button class="btn btn-default" id="callButton">Call</button>
	    <button class="btn btn-default" id="hangupButton">Hang Up</button>
	</div>
	<div class="col-lg-12" id="radios">
		<div class="radio">
		  <label>
		    <input type="radio" name="optionsRadios" id="cifResolution" value="option1">
		    CIF Resolution (320x240)
		  </label>
		</div>
		<div class="radio">
		  <label>
		    <input type="radio" name="optionsRadios" id="vgaResolution" value="option2" checked>
		    VGA Resolution (640x480)
		  </label>
		</div>
		<div class="radio">
		  <label>
		    <input type="radio" name="optionsRadios" id="hdResolution" value="option3">
		    HD Resolution (1280x720)
		  </label>
		</div>
		<div class="radio">
		  <label>
		    <input type="radio" name="optionsRadios" id="fhdResolution" value="option4">
		    Full HD Resolution (1920x1080)
		  </label>
		</div>
	</div>
  </div>
  <div class="col-lg-2"></div>
  <div class="col-lg-4">
  	<p><div id="identifier"></div></p>
  	<p>Remote WebCam</p>
  	<div class="col-lg-12">
		<video autoplay="true" id="remoteVideoElement"></video>
	</div>
	<div class="col-lg-12">
		<textarea class="form-control" id="dataChannelReceive" disabled></textarea>
	</div>
  </div>
  <div class="col-lg-1"></div>
</div>
